<div class="padding-vertical-8"></div>
{{model-errors model=model}}
<form>
  <div class="col-md-12">
    <div class="form-group">
      {{input value=model.name type="text" class="form-control" placeholder="Name"}}
    </div>
  </div>
  <div class="form-actions col-md-12">
    <button type="submit" class="btn btn-primary" {{action "save"}}>Submit</button>
    <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
    <button class="btn btn-warning" {{action "destroy"}}>Remove</button>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading h4"><span class="text-info">Members</span></div>
      <ul class="list-group">
        {{#each model.organizationMemberships as |membership|}}
          {{#link-to 'people.person' membership.person.id class="list-group-item"}}
            {{membership.person.name}}
            <span class="text-danger right glyphicon glyphicon-remove" {{action "removeMembership" membership bubbles=false}}></span>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>
</form>


