<div class="page-header">
  <span class="h2 text-info">{{model.name}}</span>
</div>
<form>
  <div class="form-group form-group-lg">
    {{input value=model.name type="text" class="form-control" placeholder="Name"}}
  </div>
  <div class="form-group input-group input-group-lg">
    {{#if model.email}}
      <span class="input-group-btn">
        <a class="btn btn-info" type="button" href="mailto:{{model.email}}"><span class="glyphicon glyphicon-envelope"></span></a>
      </span>
    {{else}}
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
    {{/if}}
    {{input value=model.email class="form-control" type="email" placeholder="Email"}}
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg" {{action "save"}}>Update User</button>
    <button class="btn btn-default btn-lg" {{action "cancel"}}>Cancel</button>
  </div>
</form>
