{{#if showHelpMessage}}
  <div class="jumbotron">
    <h1>Manage Contacts</h1>
    <p>This is where you can add <strong>contacts</strong>. When you create events, your contacts can receive notifications.</p>
    <button {{action "getStarted"}} class="btn btn-lg btn-primary center-block">Get started</button>
  </div>
{{else}}
  <div class="row">

    {{#unless outletActive}}
      <div class={{listClassesXS}}>
        {{partial "contacts/list"}}
      </div>
    {{/unless}}

    <div class={{listClasses}}>
      {{partial "contacts/list"}}
    </div>

    <div id="item-outlet" class="col-xs-12 col-sm-8">
      {{outlet}}
    </div>

  </div>
{{/if}}
